* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 41, 41);
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    margin: 25px;
    width: 100px;
    transition: ease 200ms;

    &:hover {
      opacity: 0.9;
    }
  }

  .img {
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 80%;
    -webkit-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.75);

    transition: all 300ms ease-in-out;
  }
}